# Hurto Celulares
##### Ruben Pinedo- Harlin Acero Acero - Jeyson Acero

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sp

In [4]:
df = pd.read_csv("./hurtos.csv",sep=";")
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91098 entries, 0 to 91097
Data columns (total 24 columns):
Fecha                 91098 non-null object
Departamento          91098 non-null object
Municipio             91098 non-null object
Día                   91098 non-null object
Hora                  91098 non-null object
Barrio                91098 non-null object
Cuadrante             91098 non-null object
Zona                  91098 non-null object
Clase de sitio        91098 non-null object
Arma empleada         91098 non-null object
Móvil Agresor         91098 non-null object
Móvil Victima         91098 non-null object
Edad                  91098 non-null object
Sexo                  91098 non-null object
Estado civil          91098 non-null object
País de nacimiento    91098 non-null object
Clase de empleado     91098 non-null object
Profesión             91098 non-null object
Escolaridad           91098 non-null object
Código DANE           91098 non-null int64
CLASE                 91098 non-null object
MARCA                 91098 non-null object
LINEA                 91098 non-null object
Cantidad              91098 non-null float64
dtypes: float64(1), int64(1), object(22)
memory usage: 16.7+ MB
None

In [5]:
print(df.describe())

       Código DANE      Cantidad
count      91098.0  91098.000000
mean    11001000.0      1.108599
std            0.0      2.159649
min     11001000.0      1.000000
25%     11001000.0      1.000000
50%     11001000.0      1.000000
75%     11001000.0      1.000000
max     11001000.0    250.000000

In [21]:
#Creamos un nuevo dataset solo con las columnas más necesarias
df1 = df[["Barrio", "Edad", "Fecha", "Día", "Zona", "Arma empleada", "Clase de sitio", "Móvil Agresor", "Estado civil", "MARCA", "Cantidad"]]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91098 entries, 0 to 91097
Data columns (total 11 columns):
Barrio            91098 non-null object
Edad              91098 non-null object
Fecha             91098 non-null object
Día               91098 non-null object
Zona              91098 non-null object
Arma empleada     91098 non-null object
Clase de sitio    91098 non-null object
Móvil Agresor     91098 non-null object
Estado civil      91098 non-null object
MARCA             91098 non-null object
Cantidad          91098 non-null float64
dtypes: float64(1), object(10)
memory usage: 7.6+ MB

In [8]:
# Buscamos valores nullos e indefinidos
for column in df1.columns:
    print("Número de vacios en la columnna {} es: {} ".format(column, str(sum(pd.isna(df[column])))))

Número de vacios en la columnna Barrio es: 0
Número de vacios en la columnna Edad es: 0
Número de vacios en la columnna Fecha es: 0
Número de vacios en la columnna Día es: 0
Número de vacios en la columnna Zona es: 0
Número de vacios en la columnna Arma empleada es: 0
Número de vacios en la columnna Clase de sitio es: 0
Número de vacios en la columnna Móvil Agresor es: 0
Número de vacios en la columnna Estado civil es: 0
Número de vacios en la columnna MARCA es: 0
Número de vacios en la columnna Cantidad es: 0

El dataset no tiene valores null

In [11]:
# Calculamos el total de robos por categoría
for column in df1.columns:
    print("=============== Robo por {} ===================".format(column))
    #print(df1.groupby(df1[column])["Cantidad"].sum().head(10))
    print(df1.groupby(column).agg({"Cantidad":"sum"}))

=============== Robo por Barrio ===================
                                      Cantidad
Barrio
-                                         53.0
12 DE OCTUBRE E-12                        97.0
7 DE AGOSTO E-12                         350.0
A.S.D. E-1                                 3.0
A.S.D. E-19                                3.0
ABRAHAM LINCON E-6                        77.0
ABRAHAM LINCON E-8                        38.0
ACACIAS E-11                              15.0
ACACIAS III PARTE BAJA E-19                8.0
ACACIAS IV E-19                            4.0
ACACIAS NORTE E-1                         37.0
ACACIAS SUR E-19                          10.0
ACAIMA E-11                                4.0
ACAPULCO E-10                             33.0
ACAPULCO E-11                              1.0
ACAPULCO E-5                               6.0
ACATAMA E-8                               10.0
ACEVEDO TEJADA E-13                      128.0
ACIP E-8                                  10.0
AEROPUERTO BODEGAS                         2.0
AEROPUERTO EL DORADO                     137.0
AEROPUERTO MUELLE INTERNACIONAL            5.0
AEROPUERTO MUELLE NACIONAL                 2.0
AEROPUERTO PARQUEADEROS                    2.0
AEROPUERTO PUENTE AEREO                   19.0
AFIDRO E-10                               13.0
AGROPOLIS E-7                              4.0
AGUALINDA E-5                              2.0
AGUAS CALIENTES E-11                       1.0
AGUAS CLARAS E-10                          6.0
...                                        ...
VISION DE COLOMBIA E-8                    28.0
VISTA BELLA E-11                           3.0
VISTA HERMOSA E-19                        89.0
VISTA HERMOSA E-8                          3.0
VISTA HERMOSA SECTOR EL CAPRI E-19         8.0
VISTA HERMOSA SECTOR EL ESPINAL E-19       2.0
VITELMA E-4                               14.0
VIZCAYA E-12                               1.0
VOTO NACIONAL E-14                       736.0
WALESSA E-11                               2.0
YOMASA NORTE E-5                          38.0
YOMASITA E-5                               6.0
ZARZAMORA E-10                            33.0
ZONA IND. LAS GRANJAS E-8                  1.0
ZONA INDUSTRIAL E-13                       9.0
ZONA INDUSTRIAL E-6                       11.0
ZONA INDUSTRIAL E-7                        1.0
ZONA INDUSTRIAL EL DORADO E-9              8.0
ZONA INDUSTRIAL LA GRANJA E-9              8.0
ZONA INDUSTRIAL LAS GRANJAS E-16          50.0
ZONA INDUSTRIAL MONTEVIDEO E-9            41.0
ÁLAMOS I E-10                              5.0
ÁLAMOS II E-10                             1.0
ÁLAMOS III E-10                            5.0
ÁLAMOS NORTE E-10                         12.0
ÁLAMOS NORTE NOROCCIDENTAL E-10            2.0
ÁLAMOS NORTE NORORIDENTAL E-10             1.0
ÁLVARO BERNAL SEGURA E-19                  5.0
ÁNGEL FACE-CHESELINE E-19                  1.0
ÁVILA HERMANOS E-16                        1.0

[3154 rows x 1 columns]
=============== Robo por Edad ===================
      Cantidad
Edad
-     4814.113
-1       1.000
0        3.000
1       14.000
10      20.000
11      38.000
12      65.000
13     146.000
14     308.000
15     571.000
16     711.000
17    1195.000
18    3658.000
19    3209.000
2        9.000
20    3755.000
21    3724.000
22    3755.000
228      1.000
23    3976.000
231      1.000
24    3962.000
248      1.000
25    3967.000
26    3810.000
27    3570.000
28    3477.000
29    3182.000
3       11.000
30    3201.000
...        ...
65     202.000
66     172.000
67     202.000
68     116.000
69     115.000
7        5.000
70     107.000
71      91.000
72      79.000
73      70.000
74      55.000
75      53.000
76      38.000
77      34.000
78      33.000
79      18.000
8        7.000
80      15.000
81      13.000
82       9.000
83       7.000
84       9.000
85       3.000
86       2.000
87       6.000
88       3.000
89       1.000
9        8.000
90       1.000
96       1.000

[97 rows x 1 columns]
=============== Robo por Fecha ===================
            Cantidad
Fecha
01/01/2013       3.0
01/01/2014      10.0
01/01/2015      12.0
01/01/2016      16.0
01/01/2018      49.0
01/02/2013      55.0
01/02/2014      51.0
01/02/2015      19.0
01/02/2016      40.0
01/02/2018     178.0
01/03/2013      23.0
01/03/2014      19.0
01/03/2015      23.0
01/03/2016      33.0
01/03/2018     170.0
01/04/2013      32.0
01/04/2014      25.0
01/04/2015      26.0
01/04/2016      29.0
01/04/2018      92.0
01/05/2013      30.0
01/05/2014      31.0
01/05/2015      33.0
01/05/2016      17.0
01/05/2018     107.0
01/06/2013      16.0
01/06/2014      18.0
01/06/2015      19.0
01/06/2016      31.0
01/06/2018     315.0
...              ...
7/07/2017       48.0
7/08/2017       30.0
7/09/2017      140.0
7/10/2017      134.0
7/11/2017      166.0
7/12/2017      132.0
8/01/2017       27.0
8/02/2017       92.0
8/03/2017       71.0
8/04/2017       53.0
8/05/2017       62.0
8/06/2017       79.0
8/07/2017       56.0
8/08/2017      106.0
8/09/2017      117.0
8/10/2017       66.0
8/11/2017      159.0
8/12/2017       86.0
9/01/2017       33.0
9/02/2017      113.0
9/03/2017       80.0
9/04/2017       35.0
9/05/2017       75.0
9/06/2017       63.0
9/07/2017       31.0
9/08/2017      190.0
9/09/2017      116.0
9/10/2017      113.0
9/11/2017      196.0
9/12/2017      109.0

[2015 rows x 1 columns]
=============== Robo por Día ===================
            Cantidad
Día
Domingo     9368.250
Jueves     15906.000
Lunes      12579.000
Martes     15337.397
Miércoles  15779.466
Sábado     14751.000
Viernes    17270.000
=============== Robo por Zona ===================
         Cantidad
Zona
OTRAS      20.000
RURAL    1236.000
URBANA  99735.113
=============== Robo por Arma empleada ===================
                              Cantidad
Arma empleada
-                               83.000
ARMA BLANCA / CORTOPUNZANTE  31583.000
ARMA DE FUEGO                10226.000
CONTUNDENTES                  5740.397
CORTANTES                      152.000
ESCOPOLAMINA                   826.000
JERINGA                         11.000
LLAMADA TELEFONICA               3.000
LLAVE MAESTRA                  124.000
NO REPORTADO                    67.000
PALANCAS                       289.466
PERRO                           40.000
SIN EMPLEO DE ARMAS          51841.250
SUSTANCIAS TOXICAS               5.000
=============== Robo por Clase de sitio ===================
                                          Cantidad
Clase de sitio
-                                            8.000
AEROPUERTO                                 194.000
ALCALDIA                                    23.000
ALIMENTADOR BUS M.I.O.                      38.000
ALIMENTADOR BUS MEGABUS                     41.000
ALIMENTADOR BUS TRANSMETRO                 116.000
ALIMENTADOR BUS TRANSMILENIO              1531.000
ALIMENTADOR METROLÍNEA                       7.000
ALMACENES                                  842.466
ALOJAMIENTO                                 42.000
APARTAMENTO                                913.000
APARTAMENTO EN CONJUNTO CERRADO            320.000
AREA DE VACUNACION                           2.000
AREA NATURAL UNICA LOS ESTORAQUES            2.000
AUDITORIOS                                  50.000
BAHIA                                      280.000
BANCOS                                      94.000
BARES, CANTINAS Y SIMILARES                950.000
BAÑOS                                       13.000
BIBLIOTECA                                  41.000
BILLARES                                    18.000
BODEGAS Y SIMILARES                        415.000
BOMBA DE GASOLINA                           98.000
BOSQUES                                     52.000
BUS MASIVO INTEGRAL DE OCCIDENTE M.I.O.     83.000
BUS MEGABUS                                172.000
BUS METROLINEA                              47.000
BUS METROPLUS                               42.000
BUS TRANSMETRO                              60.000
BUS TRANSMILENIO                          3238.000
...                                            ...
SEDE POLITICA                                1.000
SEDES SOCIALES, CLUBES O SIMILARES          66.000
SEMÁFORO                                   213.000
SENDERO PEATONAL                           143.000
SOBRE ANDEN - VIA PUBLICA                 2161.000
SUPERMERCADOS                              158.000
TALLERES                                    18.000
TALLERES LATONERIA                           3.000
TALLERES MECANICA                           26.000
TEATROS                                     17.000
TECHO                                        1.000
TERMINAL DE TRANSPORTES                    104.000
TIENDA                                     235.000
TRAMO DE VIA                                58.000
TRANSPORTE AÉREO                             1.000
TRANSPORTE INTERMUNICIPAL                   29.000
TRANSPORTE MASIVO                           62.000
TRANSPORTE PUBLICO RURAL                     1.000
TRANSPORTE PUBLICO URBANO                  323.000
TRANSPORTE PÚBLICO                        1964.000
TROCHA                                      11.000
UNIVERSIDADES                              243.000
VEHICULO                                   276.000
VEHICULO DE UBER                            11.000
VEHICULO MOTO                                5.000
VEHICULO TAXI                              161.000
VELODROMO                                    1.000
VIAS PUBLICAS                            49434.000
ZONA DE PARQUEO                              6.000
ZONAS AZULES - VIA PUBLICA                  58.000

[352 rows x 1 columns]
=============== Robo por Móvil Agresor ===================
                        Cantidad
Móvil Agresor
-                        342.000
A PIE                  74904.113
BICICLETA               3926.000
CONDUCTOR BUS            119.000
CONDUCTOR MOTOCICLETA   4226.000
CONDUCTOR TAXI          1201.000
CONDUCTOR VEHICULO      1050.000
PASAJERO AERONAVE         18.000
PASAJERO BARCO             3.000
PASAJERO BUS            9665.000
PASAJERO METRO           101.000
PASAJERO MOTOCICLETA    4233.000
PASAJERO TAXI            607.000
PASAJERO VEHICULO        592.000
TRIPULANTE AERONAVE        4.000
=============== Robo por Estado civil ===================
               Cantidad
Estado civil
-              4652.113
CASADO        17644.000
DIVORCIADO     1131.000
NO REPORTA        1.000
SEPARADO       2107.000
SOLTERO       57460.000
UNION LIBRE   17415.000
VIUDO           581.000
=============== Robo por MARCA ===================
                   Cantidad
MARCA
-                 24262.000
ALCATEL            2971.000
AMBA                 70.000
APPLE              1459.000
ASUS               1161.000
AVVIO               669.000
AZUMI               201.000
BELLSOUTH            40.000
BENQ                 38.000
BLACKBERRY          878.000
BLU                 145.000
CELLACOM              4.000
COMPAL                6.000
ECO                  10.000
ERICSSON             78.000
EYO                   3.000
GARMIN               21.000
GENERAL ELECTRIC      3.000
GENERAL MOBILE       27.000
GIGABYTE              7.000
GRADIENTE             2.000
HEWLETT PACKARD       5.000
HTC                 510.000
HUAWEI            14335.466
ICOM                  9.000
IMATE                 2.000
IMOBILE              20.000
INQ                   4.000
IPHONE             5754.000
IPRO                 53.000
...                     ...
LENOVO             1199.000
LG                 2964.000
MICROSOFT            66.000
MOTOROLA           8388.000
MOVIC                49.000
NEC                   9.000
NO REPORTADO       9182.397
NOKIA              1847.000
OL                   24.000
ORANGE                4.000
PALM                 13.000
PANASONIC             5.000
PANTECH               2.000
QUIX                 10.000
SAGEM                13.000
SAMSUNG           21315.250
SENDTEL              63.000
SHARP                 6.000
SIEMENS               7.000
SONY               2043.000
TCL                   9.000
TEXCEL                6.000
TOSHIBA               7.000
TVMOBILE              9.000
VAIG                 12.000
VERYKOOL             15.000
VIEWSONIC             5.000
VODAFONE              4.000
YAESU                15.000
ZTE                 747.000

[64 rows x 1 columns]
=============== Robo por Cantidad ===================
           Cantidad
Cantidad
1.000     87017.000
1.250         1.250
1.397         1.397
1.466         1.466
2.000      5798.000
3.000      1881.000
4.000       788.000
5.000       565.000
6.000       294.000
7.000       245.000
8.000       312.000
9.000        72.000
10.000      330.000
11.000       66.000
12.000       60.000
13.000       39.000
14.000       28.000
15.000       45.000
17.000       17.000
18.000       36.000
19.000       57.000
20.000      200.000
21.000       21.000
22.000       22.000
25.000       50.000
30.000      210.000
31.000       31.000
33.000       66.000
34.000       34.000
37.000       37.000
40.000      200.000
41.000       41.000
47.000       47.000
49.000       49.000
50.000       50.000
54.000       54.000
55.000       55.000
60.000      120.000
65.000       65.000
67.000       67.000
72.000       72.000
80.000       80.000
93.000       93.000
106.000     106.000
126.000     126.000
150.000     150.000
165.000     165.000
181.000     181.000
200.000     200.000
245.000     245.000
250.000     500.000

In [22]:
# Observamos que existen valores atípicos, los filtramos
age ="18"
int_age = int(age)
print(int_age)

18